.abc1{
    border: 2px solid black;
}


.abc-blue {
    border: 2px solid blue;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 20px;
    align-items: center;
    text-align: center;
}

.abc-green {
    align-items: center;
    text-align: center;
    border: 2px solid green;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 20px;
}

.abc-red {
    text-align: center;
    border: 2px solid red;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 20px;
}

